.repo-card {
  border-bottom: 1px solid grey;
  //margin: 5px 0 5px 0;
  padding: 5px 0 5px 0;
  text-align: left;
  display: flex;
  margin: 0 7px 0 7px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1rem;
}
